In [1]:
from pathlib import Path

import pandas as pd

In [2]:
data_dir = Path("data") / "viajes_stm"
df_viajes = pd.read_csv(data_dir / "viajes_stm_022023.csv")

In [3]:
df_viajes

,id_viaje,con_tarjeta,fecha_evento,tipo_viaje,descripcion_tipo_viaje,grupo_usuario,descripcion_grupo_usuario,grupo_usuario_especifico,descripcion_grupo_usuario_espe,ordinal_de_tramo,cantidad_pasajeros,codigo_parada_origen,cod_empresa,descrip_empresa,linea_codigo,dsc_linea,sevar_codigo
0,1,1,2023-02-01 00:08:59,3.0,CENTRICO,1,USUARIO CORRIENTE,1,USUARIO CORRIENTE,1,1,4201,50,C.U.T.C.S.A.,23,100,242
1,2,1,2023-02-01 00:00:48,16.0,GESTION SOCIAL,4,GESTION SOCIAL,41,GESTION SOCIAL (ESC. ESP.),1,1,3713,50,C.U.T.C.S.A.,73,158,8546
2,3,0,2023-02-01 00:01:33,1.0,COMUN,0,NO CORRESPONDE,0,NO CORRESPONDE,0,1,3714,50,C.U.T.C.S.A.,73,158,8546
3,4,1,2023-02-01 00:08:54,2.0,ZONAL,1,USUARIO CORRIENTE,1,USUARIO CORRIENTE,1,1,4752,50,C.U.T.C.S.A.,73,158,8546
4,5,1,2023-02-01 00:04:25,2.0,ZONAL,1,USUARIO CORRIENTE,1,USUARIO CORRIENTE,1,1,2522,50,C.U.T.C.S.A.,27,103,2602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18791042,10373244,1,2023-02-21 07:06:10,5.0,1 HORA,1,USUARIO CORRIENTE,1,USUARIO CORRIENTE,2,1,3735,50,C.U.T.C.S.A.,41,124,650
18791043,1750838,1,2023-02-03 15:24:22,7.0,EST. A,2,ESTUDIANTE,21,ESTUDIANTE A,2,1,3048,10,C.O.E.T.C.,497,G,8803
18791044,4145868,1,2023-02-08 19:01:11,7.0,EST. A,2,ESTUDIANTE,21,ESTUDIANTE A,2,1,2194,10,C.O.E.T.C.,10,494,121
18791045,2638882,1,2023-02-06 11:22:42,10.0,JUB. A,3,JUBILADO,31,JUBILADO A,2,1,3524,50,C.U.T.C.S.A.,447,174,8723
18791046,3231565,1,2023-02-07 13:00:49,7.0,EST. A,2,ESTUDIANTE,21,ESTUDIANTE A,2,1,1567,50,C.U.T.C.S.A.,403,L28,8003

In [4]:
df_viajes["con_tarjeta"].value_counts()

con_tarjeta
1    16396972
0     2394075
Name: count, dtype: int64

In [5]:
# Tramos por viaje: contamos cuantos viajes hay con cada nÃºmero de tramos
count = df_viajes[["con_tarjeta", "id_viaje"]].groupby("id_viaje").count()
count.value_counts()
# Hay un viaje con 20 tramos!

con_tarjeta
1              10285798
2               3798210
3                247117
4                 29638
5                  6593
6                  1738
7                   423
8                   136
9                    62
10                   24
11                   17
12                   12
13                    7
14                    5
16                    3
17                    3
21                    2
15                    1
18                    1
20                    1
Name: count, dtype: int64

In [6]:
# Cantidad de pasajeros
df_viajes["cantidad_pasajeros"].value_counts()
# No entiendo bien este campo. Puede haber viajes con muchos pasajeros? Hay hasta 29!

cantidad_pasajeros
1     17725857
2       927496
3       110172
4        20717
5         4752
6         1251
7          442
8          149
9           74
10          54
0           33
11          16
14           6
17           6
12           4
22           3
15           3
13           3
25           2
18           2
16           2
20           1
27           1
29           1
Name: count, dtype: int64

In [7]:
# Cuenta por empresa
df_viajes["descrip_empresa"].value_counts()

descrip_empresa
C.U.T.C.S.A.    12082715
C.O.E.T.C.       2906635
U.C.O.T.         2086504
C.O.M.E.S.A      1715193
Name: count, dtype: int64

In [8]:
# Cuenta por LÃ­nea de Ã³mnibus. 103 es el mÃ¡s popular
df_viajes["dsc_linea"].value_counts()

dsc_linea
103    622708
G      533197
183    465993
181    457190
145    441102
        ...
106      2058
L23      1925
L34      1152
G6        981
135       914
Name: count, Length: 134, dtype: int64

In [10]:
# Cuenta por paradas de origen
df_viajes["codigo_parada_origen"].value_counts()
# Hay informaciÃ³n geogrÃ¡fica en formato GIS:
# https://geoweb.montevideo.gub.uy/geonetwork/srv/spa/catalog.search#/metadata/c6ea0476-9804-424a-9fae-2ac8ce2eee31

codigo_parada_origen
1145    142043
4836    131512
1568    121203
1192    106307
1567     99314
         ...
2577         1
5417         1
5386         1
1656         1
6634         1
Name: count, Length: 4624, dtype: int64